<div class="flex justify-between lg:p-4 <%= other_user.user_albums.count == 9 ? 'other_user_box-on' : 'other_user_box'%> lg:mb-8 max-lg:mb-4">
  <div class="flex flex-col p-2">
    <div class="flex items-center lg:mb-4 max-lg:mb-2">
      <%= link_to other_user_path(other_user) do %>
        <div class="w-20 h-20 rounded-full lg:mr-4 max-lg:mr-1 overflow-hidden flex items-center justify-center max-lg:w-8 max-lg:h-8">
          <%= image_tag other_user.profile_image_url, class: "object-cover w-full h-full"%> 
        </div>
      <% end %>
      <span class="lg:text-2xl max-lg:sm"><%= other_user.name %></span>
    </div>
    <div class="grid grid-cols-3 rounded overflow-hidden">
      <% other_user.user_albums.includes(:album).order(created_at: :asc).each do |user_album| %>
        <%= link_to album_path(user_album.album.itunes_album_id) do %>
          <div class="album w-40 h-40 overflow-hidden flex items-center justify-center max-lg:w-12 max-lg:h-12">
            <%= image_tag user_album.album.artwork_url, class: "object-cover w-full h-full" %>
          </div>
        <% end %>
      <% end %>
      <% (other_user.user_albums.count...9).each do %>
        <div class="no-album"></div>
      <% end %>
    </div>
  </div> 
  <div class="flex flex-col p-2">
    <div class="flex items-center lg:mt-6 max-lg:mt-2">
      <span class="lg:text-2xl max-lg:text-sm">AIマッチ：</span>
      <div class="lg:text-3xl">
        <% if current_user && current_user.like_music.present? %>
          <% if other_user.match_score >= 100000 %>
            <div class="s-neon">S</div>
          <% elsif other_user.match_score >=10000 %>
            <div class="a-neon">A</div>
          <% elsif other_user.match_score >=1000 %>
            <div class="b-neon">B</div>
          <% elsif other_user.match_score >=@user_count / 3 * 2 + 1 %>
            <div class="c-neon">C</div>
          <% elsif other_user.match_score >=@user_count / 3 + 1 %>
            <div class="d-neon">D</div>
          <% elsif other_user.match_score >=1 %>
            E
          <% else %>
            ？
          <% end %>
        <% else %>
          ？
        <% end %>
      </div>
    </div>
    <div class="show-border lg:mt-16 max-lg:mt-2 text-center <%= other_user.user_albums.count == 9 ? 'border-orange-on' : 'border-orange'%>">
      <div class="lg:p-4 max-lg:p-1">
        <div class="lg:mb-6 lg:text-xl max-lg:text-xs">
        <% other_user.areas.each do |area| %>
          <%= area.name %>
        <% end %>
        </div>
        <div class="lg:mb-6 lg:text-xl max-lg:text-xs">
        <% other_user.instruments.each do |instrument| %>
          <%= instrument.name %>
        <% end %>
        </div>
        <div class="flex lg:text-xl max-lg:text-xs justify-center truncate">
          <div class="lg:mr-4 max-lg:mr-1">
            <%= other_user.purpose_japanese %>
          </div>
          <div class="lg:mr-4 max-lg:mr-1 truncate">
            <%= other_user.age %>
          </div>
          <div class="lg:mr-4 truncate">
            <%= other_user.gender_japanese %>
          </div> 
        </div>
      </div>
    </div>
    <div class="show-border <%= other_user.user_albums.count == 9 ? 'border-orange-on' : 'border-orange'%> lg:w-80 lg:h-64 max-lg:h-16 max-lg:w-40">
      <div class="lg:text-xl max-lg:text-xs lg:p-4 max-lg:text-ellipsis max-lg:line-clamp-4">
        <%= other_user.introduction %>
      </div>
    </div>
    <div class="flex justify-start items-center">
      <% if other_user.x_link.present? %>
        <%= link_to "https://x.com/#{other_user.x_link.delete('@')}", class: "neon-icon-on mr-1", target: "_blank", rel: "noopener noreferrer" do %> 
          <svg class="max-lg:w-5", width="30" viewBox="0 0 30 31" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M25.6228 3.54931C26.0098 3.8933 26.0446 4.48587 25.7006 4.87285L17.5519 14.0402L26.0487 24.9644C26.2424 25.2139 26.3627 25.5132 26.395 25.8274C26.4273 26.1416 26.3708 26.4585 26.2319 26.7421C26.093 27.0258 25.8773 27.2647 25.6093 27.4319C25.3414 27.599 25.032 27.6875 24.7162 27.6875C24.7161 27.6875 24.7163 27.6875 24.7162 27.6875H21.6162L21.6148 27.6875C21.358 27.6871 21.1047 27.6282 20.8742 27.5151C20.6437 27.402 20.442 27.2378 20.2845 27.035L13.6187 18.465L5.70065 27.3729C5.35666 27.7598 4.76409 27.7947 4.37711 27.4507C3.99013 27.1067 3.95527 26.5142 4.29926 26.1272L12.448 16.9598L3.95119 6.03559C3.75749 5.78615 3.63722 5.48678 3.60492 5.17261C3.57262 4.85845 3.62912 4.54153 3.76801 4.25789C3.9069 3.97425 4.1226 3.73528 4.39058 3.56815C4.6585 3.40106 4.96794 3.31249 5.2837 3.31251C5.28376 3.31251 5.28365 3.31251 5.2837 3.31251H8.3851C8.64187 3.31289 8.89517 3.37187 9.1257 3.48494C9.35602 3.59791 9.55754 3.7619 9.71496 3.96443C9.71511 3.96462 9.71481 3.96424 9.71496 3.96443L16.3812 12.535L24.2993 3.62717C24.6432 3.24019 25.2358 3.20533 25.6228 3.54931ZM15.1143 13.9602L8.29088 5.18751H5.66695L13.7149 15.5346L15.1143 13.9602ZM14.8856 17.0398L21.709 25.8125H24.333L16.285 15.4654L14.8856 17.0398Z"/>
          </svg>
        <% end %>
      <% end %>
      <% if other_user.instagram_link.present? %>
        <%= link_to "https://www.instagram.com/#{other_user.instagram_link.delete('@')}", class: "neon-icon-on mr-1", target: "_blank", rel: "noopener noreferrer" do %> 
          <svg class="max-lg:w-5", width="30" viewBox="0 0 37 37" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M10.5889 5.05145C8.69871 5.30553 7.53048 5.79263 6.6615 6.66162C5.79255 7.53057 5.30543 8.69913 5.05133 10.5896C4.79362 12.507 4.79163 15.0218 4.79163 18.5001C4.79163 21.9791 4.79362 24.494 5.05133 26.4111C5.30541 28.3013 5.79251 29.4696 6.6615 30.3385C7.53044 31.2075 8.69901 31.6946 10.5895 31.9487C12.5069 32.2064 15.0217 32.2084 18.5 32.2084C21.979 32.2084 24.4938 32.2064 26.411 31.9487C28.3012 31.6946 29.4694 31.2075 30.3384 30.3385C31.2074 29.4696 31.6945 28.301 31.9486 26.4106C32.2063 24.4932 32.2083 21.9784 32.2083 18.5001C32.2083 15.021 32.2063 12.5062 31.9486 10.589C31.6945 8.69883 31.2074 7.53061 30.3384 6.66162C29.4695 5.79267 28.3009 5.30555 26.4104 5.05145C24.4931 4.79374 21.9782 4.79175 18.5 4.79175C15.0209 4.79175 12.5061 4.79374 10.5889 5.05145ZM18.4275 2.91675H18.5724C21.9628 2.91673 24.6035 2.91672 26.6602 3.19316C28.7584 3.47518 30.3887 4.06028 31.6642 5.33579C32.9397 6.61126 33.5248 8.24117 33.8069 10.3392C34.0833 12.3958 34.0833 15.0365 34.0833 18.4277V18.5725C34.0833 21.9629 34.0833 24.6036 33.8069 26.6603C33.5249 28.7585 32.9398 30.3889 31.6642 31.6644C30.3888 32.9398 28.7589 33.525 26.6608 33.807C24.6043 34.0834 21.9636 34.0834 18.5724 34.0834H18.4276C15.0371 34.0834 12.3964 34.0834 10.3397 33.807C8.24152 33.525 6.61118 32.9399 5.33567 31.6644C4.0602 30.3889 3.47507 28.759 3.19304 26.6609C2.9166 24.6044 2.91661 21.9637 2.91663 18.5725V18.4277C2.91661 15.0372 2.9166 12.3965 3.19304 10.3398C3.47506 8.24164 4.06016 6.61131 5.33567 5.33579C6.61114 4.06032 8.24104 3.47519 10.3391 3.19316C12.3956 2.91672 15.0363 2.91673 18.4275 2.91675Z"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M26.0386 10.021C26.0386 9.50323 26.4583 9.0835 26.9761 9.0835H26.9915C27.5093 9.0835 27.929 9.50323 27.929 10.021C27.929 10.5388 27.5093 10.9585 26.9915 10.9585H26.9761C26.4583 10.9585 26.0386 10.5388 26.0386 10.021ZM18.5 12.5002C16.9087 12.5002 15.3826 13.1323 14.2574 14.2575C13.1321 15.3827 12.5 16.9089 12.5 18.5002C12.5 20.0915 13.1321 21.6176 14.2574 22.7428C15.3826 23.868 16.9087 24.5002 18.5 24.5002C20.0913 24.5002 21.6174 23.868 22.7426 22.7428C23.8679 21.6176 24.5 20.0915 24.5 18.5002C24.5 16.9089 23.8679 15.3827 22.7426 14.2575C21.6174 13.1323 20.0913 12.5002 18.5 12.5002ZM12.9315 12.9317C14.4084 11.4548 16.4114 10.6252 18.5 10.6252C20.5886 10.6252 22.5916 11.4548 24.0685 12.9317C25.5453 14.4085 26.375 16.4116 26.375 18.5002C26.375 20.5887 25.5453 22.5918 24.0685 24.0686C22.5916 25.5455 20.5886 26.3752 18.5 26.3752C16.4114 26.3752 14.4084 25.5455 12.9315 24.0686C11.4547 22.5918 10.625 20.5887 10.625 18.5002C10.625 16.4116 11.4547 14.4085 12.9315 12.9317Z"/>
          </svg>
        <% end %>
      <% end %>
      <% if other_user.youtube_link.present? %>
        <%= link_to "https://www.youtube.com/#{other_user.youtube_link}", class: "neon-icon-on mr-1", target: "_blank", rel: "noopener noreferrer" do %> 
          <svg class="max-lg:w-5", width="30" viewBox="0 0 28 21" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M4.15369 3.72097C3.96478 3.78165 3.79276 3.88652 3.6521 4.02719C3.50593 4.17336 3.39841 4.35338 3.33896 4.55102C2.51299 8.47403 2.51299 12.5261 3.33896 16.4491C3.39841 16.6467 3.50593 16.8267 3.6521 16.9729C3.79276 17.1136 3.96478 17.2185 4.15369 17.2791C10.6742 18.3501 17.3257 18.3501 23.8462 17.2791C24.0351 17.2185 24.2071 17.1136 24.3478 16.9729C24.494 16.8267 24.6015 16.6467 24.661 16.4491C25.4869 12.5261 25.4869 8.47403 24.661 4.55103C24.6015 4.35338 24.494 4.17336 24.3478 4.02719C24.2071 3.88652 24.0351 3.78165 23.8462 3.72097C17.3257 2.64998 10.6742 2.64998 4.15369 3.72097ZM3.67082 1.26683C10.5104 0.134689 17.4895 0.134689 24.3291 1.26683C24.3717 1.27388 24.4138 1.28313 24.4555 1.29454C25.0832 1.46664 25.6553 1.79917 26.1156 2.25943C26.5758 2.71968 26.9084 3.29181 27.0805 3.91954C27.0869 3.94309 27.0927 3.96683 27.0978 3.99071C28.008 8.28254 28.008 12.7176 27.0978 17.0094C27.0927 17.0333 27.0869 17.057 27.0805 17.0806C26.9084 17.7083 26.5758 18.2804 26.1156 18.7407C25.6553 19.2009 25.0832 19.5335 24.4555 19.7056C24.4138 19.717 24.3717 19.7262 24.3291 19.7333C17.4895 20.8654 10.5104 20.8654 3.67082 19.7333C3.62824 19.7262 3.58606 19.717 3.54444 19.7056C2.91671 19.5335 2.34458 19.2009 1.88433 18.7407C1.42407 18.2804 1.09154 17.7083 0.919441 17.0806C0.912984 17.057 0.907218 17.0333 0.902152 17.0094C-0.00807399 12.7176 -0.00807399 8.28254 0.902152 3.99071C0.907218 3.96683 0.912984 3.94309 0.919441 3.91954C1.09154 3.29181 1.42407 2.71968 1.88433 2.25943C2.34458 1.79917 2.91671 1.46664 3.54444 1.29454C3.58606 1.28313 3.62824 1.27388 3.67082 1.26683ZM10.8841 5.6623C11.276 5.44042 11.7569 5.44649 12.1431 5.67818L18.3931 9.42818C18.7696 9.65409 19 10.061 19 10.5001C19 10.9391 18.7696 11.346 18.3931 11.5719L12.1431 15.3219C11.7569 15.5536 11.276 15.5597 10.8841 15.3378C10.4922 15.1159 10.25 14.7004 10.25 14.2501V6.75005C10.25 6.29971 10.4922 5.88418 10.8841 5.6623ZM12.75 8.95779V12.0423L15.3204 10.5001L12.75 8.95779Z"/>
          </svg>
        <% end %>
      <% end %>
      <% if other_user.custom_link.present? %>
        <%= link_to "https://#{other_user.custom_link}", class: "neon-icon-on", target: "_blank", rel: "noopener noreferrer" do %> 
          <svg class="max-lg:w-5", width="30" viewBox="0 0 28 23" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M27.1251 6.83954C27.078 8.47155 26.407 10.0234 25.2501 11.1755L21.1778 15.2501C20.5847 15.8464 19.8792 16.3192 19.1021 16.6411C18.3251 16.9629 17.4919 17.1274 16.6508 17.1251H16.645C15.7896 17.1245 14.9429 16.9524 14.1551 16.6191C13.3673 16.2858 12.6542 15.798 12.0581 15.1845C11.462 14.571 10.9948 13.8443 10.6843 13.0472C10.3738 12.2501 10.2261 11.3989 10.2501 10.5438C10.2571 10.2952 10.3625 10.0595 10.5433 9.88865C10.7241 9.71777 10.9653 9.62571 11.2139 9.6327C11.4626 9.6397 11.6982 9.74517 11.8691 9.92593C12.04 10.1067 12.1321 10.3479 12.1251 10.5966C12.108 11.2012 12.2123 11.8031 12.4318 12.3667C12.6513 12.9303 12.9815 13.4442 13.403 13.878C13.8244 14.3118 14.3286 14.6567 14.8856 14.8924C15.4427 15.1281 16.0413 15.2497 16.6462 15.2501C17.2407 15.2515 17.8297 15.1352 18.379 14.9077C18.9283 14.6802 19.4271 14.3461 19.8465 13.9247L23.9188 9.85243C24.759 9.00166 25.2285 7.85303 25.2247 6.65732C25.221 5.46161 24.7443 4.31594 23.8988 3.47045C23.0533 2.62495 21.9077 2.1483 20.712 2.14456C19.5163 2.14081 18.3676 2.61029 17.5169 3.45048L16.2278 4.73954C16.0505 4.90793 15.8145 5.00042 15.5701 4.99729C15.3256 4.99416 15.092 4.89566 14.9192 4.72278C14.7463 4.54991 14.6478 4.31634 14.6446 4.07187C14.6415 3.82741 14.734 3.59139 14.9024 3.41415L16.1915 2.12509C16.7862 1.53016 17.4923 1.05823 18.2694 0.736243C19.0466 0.41426 19.8796 0.248535 20.7208 0.248535C21.562 0.248535 22.3949 0.41426 23.1721 0.736243C23.9492 1.05823 24.6553 1.53016 25.2501 2.12509C25.8661 2.74261 26.35 3.47903 26.6723 4.28952C26.9946 5.10001 27.1487 5.96762 27.1251 6.83954ZM11.7735 18.2571L10.4844 19.5462C10.064 19.9695 9.56366 20.3049 9.01242 20.5331C8.46118 20.7612 7.87008 20.8775 7.2735 20.8751C6.37854 20.8744 5.50387 20.6084 4.76002 20.1108C4.01616 19.6131 3.43649 18.9062 3.09426 18.0793C2.75202 17.2523 2.66257 16.3425 2.83721 15.4648C3.01185 14.587 3.44275 13.7807 4.07545 13.1477L8.14068 9.07548C8.78098 8.4318 9.60003 7.99553 10.4915 7.82331C11.3829 7.6511 12.3055 7.7509 13.1395 8.10977C13.9734 8.46863 14.6802 9.06997 15.1681 9.83568C15.6559 10.6014 15.9022 11.4961 15.8751 12.4036C15.8681 12.6522 15.9601 12.8935 16.131 13.0742C16.3019 13.255 16.5375 13.3605 16.7862 13.3675C17.0348 13.3745 17.2761 13.2824 17.4568 13.1115C17.6376 12.9407 17.7431 12.705 17.7501 12.4563C17.7726 11.5858 17.618 10.7197 17.2957 9.91074C16.9734 9.10174 16.49 8.36665 15.8751 7.75009C14.6741 6.54965 13.0456 5.87529 11.3475 5.87529C9.64948 5.87529 8.02094 6.54965 6.81998 7.75009L2.75006 11.8224C1.85502 12.717 1.24527 13.8569 0.997883 15.0981C0.750494 16.3392 0.876562 17.6258 1.36016 18.7952C1.84375 19.9647 2.66317 20.9646 3.71485 21.6685C4.76654 22.3725 6.00328 22.7488 7.26881 22.7501C8.11006 22.7525 8.94344 22.588 9.7207 22.2662C10.498 21.9443 11.2037 21.4715 11.7969 20.8751L13.086 19.586C13.2377 19.4073 13.317 19.1783 13.3082 18.944C13.2993 18.7097 13.2031 18.4873 13.0383 18.3205C12.8736 18.1537 12.6524 18.0547 12.4182 18.043C12.1841 18.0312 11.9541 18.1076 11.7735 18.2571Z"/>
          </svg>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
