<!DOCTYPE html>
<html>
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-0BRGLFB2GQ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      unction gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
  
      gtag('config', 'G-0BRGLFB2GQ');
    </script>
    <title>MeTRO NOTE</title>
    <%= favicon_link_tag 'metro-icon' %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <%= display_meta_tags %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <%= render 'shared/flash_message' %>
    <%= yield %>
  </body>
</html>
